*.pth.*
[0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9]_*/
*.pth
.vscode
__pycache__
notes
*.log
result/
predict/
experiment/
*.safetensors
train[0-9].py
train_test_mae-fmax.py
feature_sem_vis*/
newtrain.py